<div class="example-container">
	<form class="example-container" [formGroup]="form">
		<mat-form-field>
			<input matInput placeholder="Min" formControlName="min" required>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Max" formControlName="max" required>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Timeout (ms)" formControlName="timeout" required>
		</mat-form-field>
		<button mat-raised-button [disabled]="disabled" (click)="startCalculation()">Start</button>
	</form>
</div>
<div>
	{{message}}
</div>
